---
layout: layout.njk
title: x-govuk
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Welcome to X-GOVUK</h1>

    <p class="govuk-body-l">A community-maintained collection of resources which are useful for working on GOV.UK services.</p>

    <h2 class="govuk-heading-m">Design</h2>

    <h3 class="govuk-heading-s">Design systems, patterns and components</h3>

    <ul class="govuk-list">
      <li><a href="https://design-system.service.gov.uk">GOV.UK Design System</a></li>
      <li><a href="https://cjscpp-design-patterns.herokuapp.com">CJS Crime Programme design patterns</a></li>
      <li><a href="https://digital-land.github.io/design-system/">Digital Land design system</a></li>
      <li><a href="https://designsystem.gov.scot">Digital Scotland Design System</a></li>
      <li><a href="https://design-system.dwp.gov.uk/index">DWP Design System</a></li>
      <li><a href="https://gov.wales/govwales-components">GOV.WALES components</a></li>
      <li><a href="https://hmlr-design-system.herokuapp.com">HM Land Registry Design System</a></li>
      <li><a href="https://hmcts-design-system.herokuapp.com">HMCTS Design System</a></li>
      <li><a href="https://design.tax.service.gov.uk/hmrc-design-patterns/">HMRC Design Patterns</a></li>
      <li><a href="https://design.homeoffice.gov.uk">Home Office Design System</a></li>
      <li><a href="https://design-patterns.service.justice.gov.uk">Ministry of Justice Pattern Library</a></li>
      <li><a href="https://design-system.digital.mod.uk">MOD.UK Design System</a></li>
      <li><a href="https://service-manual.nhs.uk/design-system">NHS Design System</a></li>
      <li><a href="https://design-system.nice.org.uk">NICE Design System</a></li>
      <li><a href="https://ons-design-system.netlify.app">Office for National Statistics Design System</a></li>
      <li><a href="https://designsystem.tfwm.org.uk">Transport for West Midlands Design System</a></li>
    </ul>

    <h3 class="govuk-heading-s">Other design resources</h3>

    <ul class="govuk-list">
      <li><a href="https://github.com/x-govuk/govuk-design-history">GOV.UK Design histories</a></li>
      <li><a href="https://github.com/x-govuk/govuk-frontend-component-stats">Statistics on usage of govuk-frontend components</a></li>
    </ul>

    <h2 class="govuk-heading-m">Content design</h2>

    <ul class="govuk-list">
      <li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">Government Digital Service style guide</a></li>
      <li><a href="https://dfe-glossary.herokuapp.com">Department for Education glossary</a></li>
      <li><a href="https://gov.wales/govwales-style-guide">GOV.WALES style guide</a></li>
      <li><a href="https://design.tax.service.gov.uk/hmrc-content-style-guide/">HMRC content style guide</a></li>
      <li><a href="https://service-manual.nhs.uk/content">NHS style guide</a></li>
    </ul>

    <h2 class="govuk-heading-m">Prototyping</h2>

    <ul class="govuk-list">
      <li><a href="https://govuk-prototype-kit.herokuapp.com/docs">GOVU.UK Prototype Kit</a></li>
      <li><a href="https://github.com/x-govuk/govuk-prototype-components">Experimental components for prototyping</a></li>
      <li><a href="https://github.com/x-govuk/prototype-navigation-radios">Navigation radios extension</a></li>
      <li><a href="https://github.com/x-govuk/govuk-prototype-wizard">Wizard extension</a></li>
    </ul>

    <h2 class="govuk-heading-m">Front-end</h2>

    <ul class="govuk-list">
      <li><a href="https://github.com/LandRegistry/govuk-frontend-jinja">Jinja</a></li>
      <li><a href="https://github.com/x-govuk/govuk-markdown">Markdown</a></li>
      <li><a href="https://github.com/x-govuk/marked-govspeak">Markdown - extensions for Marked</a></li>
      <li><a href="https://github.com/ukgovdatascience/govdown">R Markdown</a></li>
      <li><a href="https://github.com/surevine/govuk-react-jsx">React</a></li>
      <li><a href="https://github.com/DFE-Digital/govuk-components">Ruby on Rails components</a></li>
      <li><a href="https://github.com/DFE-Digital/govuk-formbuilder">Ruby on Rails formbuilder</a></li>
      <li><a href="https://github.com/dxw/dxw_govuk_frontend_rails">Ruby on Rails asset pipeline</a></li>
      <li><a href="https://github.com/hmrc/play-frontend-hmrc">Twirl</a></li>
      <li><a href="https://github.com/LandRegistry/govuk-frontend-wtf">WTForms</a></li>
    </ul>

    <h2 class="govuk-heading-m">Services</h2>

    <ul class="govuk-list">
      <li><a href="https://govuk-digital-services.herokuapp.com">A list of services on GOV.UK</a></li>
    </ul>

  </div>
</div>
