---json
{
  "permalink": "posts.xml",
  "layout": false,
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "X-GOVUK",
    "subtitle": "Notes and updates on projects being developed across government teams",
    "language": "en",
    "url": "https://x-govuk.github.io"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  {%- for post in collections.post | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {% if post.data.authors %}
      {% for author in post.data.authors %}
        <author>
          <name>{{ author.name }}</name>
          {% if author.url %}<uri>{{ author.url }}</uri>{% endif %}
        </author>
      {% endfor %}
    {% elif post.data.author %}
      <author>
        <name>{{ post.data.author.name }}</name>
        {% if post.data.author.url %}<uri>{{ post.data.author.url }}</uri>{% endif %}
      </author>
    {% endif %}
    <content xml:lang="{{ metadata.language }}" type="html">
      <![CDATA[ {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }} ]]>
    </content>
  </entry>
  {%- endfor %}
</feed>
