{% extends "app/layouts/base.njk" %}

{% block footer %}
  <footer class="govuk-footer" role="contentinfo">
    <div class="govuk-width-container">


      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="https://github.com/x-govuk/x-govuk.github.io">GitHub source</a>
            </li>
          </ul>
          <div class="govuk-footer__meta-custom">
            An unofficial community project
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
