{% extends "govuk/template.njk" %}

{% block head %}
  <link rel="stylesheet" href="/assets/govuk.css">
{% endblock %}

{% block pageTitle %}
  {{- title if title -}}
{% endblock %}

{% block header %}
  <header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container app-header__container--pink">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          X-GOVUK
        </a>
      </div>
    </div>
  </header>
{% endblock %}

{% block footer %}
  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="https://github.com/x-govuk/x-govuk.github.io">
                GitHub source
              </a>
            </li>
          </ul>
          <div class="govuk-footer__meta-custom">
            An unofficial community project
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk.js"></script>
  {% block scripts %}{% endblock %}
{% endblock %}
