{% extends "_layouts/base.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block main %}
  <div class="govuk-width-container">
    {{ govukBackLink({ href: "/" })}}
    <div class="govuk-grid-row govuk-main-wrapper">
      <div class="govuk-grid-column-two-thirds">
        <main id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ title }} </h1>
          <div class="govuk-hint">
            Published
            <time>{{ date | date("d LLLL y") }}</time>
            by
            {% set comma = joiner() %}
            {% for author in authors -%}
              {{ comma() }} {{ author }}
            {%- endfor %}
          </div>
          <hr>
          {% block content %}
            <div class="govuk-!-padding-top-3">
              {{ content }}
            </div>
          {% endblock %}
        </main>
      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
{% endblock %}
