{% extends "_layouts/base.njk" %}

{% block main %}
  {{ xGovukMasthead({
    classes: "x-govuk-masthead--large",
    title: {
      html: title
    } if title,
    description: {
      html: description | markdown("inline") | noOrphans
    } if description,
    startButton: startButton,
    image: {
      alt: image.alt,
      src: image.src | url
    } if image,
    breadcrumbs: {
      classes: "govuk-!-display-none-print",
      items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | items
    } if eleventyNavigation.parent
  }) }}

  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}

    <div class="govuk-grid-row govuk-main-wrapper">
      <div class="govuk-grid-column-two-thirds">
        <main id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          {% block content %}
            {{ content }}
          {% endblock %}
        </main>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Blog posts</h2>

        <ul class="govuk-list">
          {%- for post in collections.post -%}
            <li>
              <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
              <div class="govuk-body-s"><time>{{ post.data.date | date("d LLLL y") }}</time></div>
            </li>
          {%- endfor -%}
          </ul>
      </div>
    </div>
  </div>
{% endblock %}
