// Use GOV.UK Frontend components
$_font-family: system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-global-styles: true,
  $govuk-font-family: $_font-family,
  $govuk-functional-colours: (
    brand: #2288aa,
    link: #006688,
    link-hover: #004466,
    link-visited: #333366
  )
);

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";
