<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
<h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="posts">Posts</h2>
<p class="govuk-body-l app-!-colour-muted">Notes and updates on projects being developed across government teams</p>
<div class="govuk-grid-row">
{% for post in collections.post %}
  <article class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a class="govuk-link" href="{{ post.url }}">{{ post.data.title | markdown("inline") }}</a>
    </h3>
    <p class="govuk-body">{{ post.data.description | markdown("inline") }}</p>
  </article>
{% endfor %}
</div>
