<h2 class="govuk-heading-l" id="projects">Projects</h2>
<div class="govuk-grid-row">
{% set columns = cycler("1", "2") %}
{% for repo in repos | includes("topics", "project") | sort(false, true, "name") %}
  <section class="govuk-grid-column-one-half-from-desktop govuk-!-margin-bottom-4">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      <a class="govuk-link" href="{{ repo.homepage }}">{{ repo.name | replace("-", " ") | title | replace("Govuk", "GOV.UK") }}</a>
    </h3>
    <p class="govuk-body">{{ repo.description }}</p>
  </section>
  {% if columns.next() == "2" %}</div><div class="govuk-grid-row">{% endif %}
{% endfor %}
</div>
